---
const { title } = Astro.props;
import SkipLink from "@components/SkipLink.astro";
import CSSReset from "../global/CSSReset.astro";
import Theme from "../global/Theme.astro";

// This file creates the basic HTML page structure and sets up our CSS reset and theme. We will use this Layout component in all of our pages.
---

<head>
  <meta charset="utf-8" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="viewport" content="width=device-width" />
  <title>{title}</title>
  <CSSReset />
  <Theme />
</head>
<body>
  <SkipLink />
  <!--
  if you are going to use a nav, it should go here, 
  between the skip link and the <main> tag
   -->
  <main id="main-content">
    <slot />
  </main>
  <!--
  if you are going to use a footer, it should go here
   -->
</body>
